@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
    padding: 10px;
}

/* ドロップダウンメニュー */
img.arrow{
    width: 15px;
    height: 20px;
    margin: 5px;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.img{
    margin: 5px;
}

.nav-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 57px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
}

.nav-list{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none; /* リストのデフォルトスタイルを無効化 */
}

.nav-list a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 60px;
}

.nav-list:nth-child(2) a{
    background: rgb(0, 2, 115);
    color: white;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* モーダル */
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

/* トップページヘッダー */
.top-page{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.head-container{
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-end;
}

.username p{
    color: #fff;
    padding-right: 20px;
}

/* サイドバー */
.side-bar{
    min-height: 100vh;
}

.following-count{
    display: inline-block;
    padding-left: 20px;
}

.side-bar-btn a{
    display: inline-block;
    background-color: #186AC9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.side-bar-line{
    border-top: 1px solid #727272;
    padding: 10px;
    text-align: center;
}

.confirm{
    padding: 10px;
}

/* 投稿フォーム */
.post{
    border-bottom: 3px solid #9d9c9c;
    padding: 10px;
}

.post-form{
    display: flex;
}

.top-icon{
    padding-left: 5%;
}

.post-text{
    width: 100%;
    padding: 10px;
}

.post-text input{
    border: none;
}

.post-btn{
    text-align: right;
}

/* 投稿一覧 */
.posts-item{
    padding: 10px;
    padding-left: 10%;
    border-bottom: 1px solid #727272;
}

.post-time{
    float: right;
}

.modal-btn{
    text-align: right;
}

.posts p{
    padding-top: 10px;
    padding-left: 30px;
}

/* プロフィール編集 */
.update{
    display: flex;
    width: 100%;
    height: 100%;
}

.icon{
    width: 20%;
    text-align: right;
    padding-top: 20px;
}

.update-form{
    width: 100%;
}

.update-block{
    padding: 20px;
}

.update-form label{
    width: 35%;
}

.update-form input{
    width: 45%;
    background-color: #e7e7e7;
    border: solid;
    border-color: #bfbdbd;
}

.new-icon{
    background-color: #ffffff;
    height: 100px;
}

.update-btn input{
    width: 150px;
}

.update-btn{
    text-align: center;
}

/* フォローリスト
フォロワーリスト */
.icon-list{
    display: flex;
    padding: 10px 40px;
    border-bottom: 3px solid #9d9c9c;
}

.title{
    padding: 5px 30px
}

/* ユーザー検索 */
.search-box{
    display: flex;
    width: 100%;
    padding: 30px;
    border-bottom: 3px solid #9d9c9c;
}

.search-btn{
    border: none;
    background: none;
    border-radius: 5px;
}

.search-block{
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.search-icon{
    text-align: end;
    width: 30%;
    padding: 10px 20px;
}

.search-name{
    width: 20%;
}

.search-follow{
    width: 50%;
}

.btn-info{
    color: #fff;
}

.search-word{
    margin: auto;
}

/* 他ユーザーのプロファイルページ */
.other-profile{
    display: flex;
    width: 100%;
    border-bottom: 3px solid #9d9c9c;
    padding: 10px;
    padding-left: 5%;
}

.other-icon{
    padding: 10px;
}

.profile-block{
    padding-top: 10px;
    width: 100%;
}

.other-data{
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}

.name-data,
.bio-data{
    width: 30%;
}

.other-name,
.other-bio{
    width: 70%;
}

.other-btn{
    width: 30%;
    margin: auto;
    text-align: end;
}